/* merubah display block menjadi inline*/
.navigasi li {
  display: inline;
}

/* mengubah ukuran display inline*/
img {
  width: 200px;
  height: 200px;
}

/* merubah display inline menjadi inline-block*/
a {
  background-color: aqua;
  width: 200px;
  height: 200px;
  display: inline-block;
}
